<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="citas">
    <head>
        <title>Consultar cita</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous"/>
    </head>
    <body>
        <nav class="navbar navbar-light" style="background-color: #31b0d5;">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="index.html">Menú</a>
                        </li>
                        <!--<li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Registrar cita</a>
                        </li>-->
                    </ul>
                </div>
            </div>
        </nav>
        
        <main class="row m-3" ng-controller="controllerCitas">
            <article class="col-sm">
                <section class="m-2 p-3 mx-auto container-md border bg-white">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Cedula Paciente</label>
                        <input type="pacienteCedula" class="form-control" id="exampleFormControlInput1"  value="" ng-model="pacienteCedula"/>
                        <br/>
                        <button type="button" class="btn btn-success" ng-click="consultarCitas()">Consultar cita</button>
                    </div>
                    <nav>
                        <h6>DATOS DE PRUEBA PARA LA CONSULTA DE CITAS.</h6>
                        <p> CEDULA PACIENTE: 1007</p>
                        <p> CEDULA PACIENTE: 1008</p>
                    </nav>
                </section>
                
                
                
                
                <article class="col-sm">
                    <section class="m-2 p-3 mx-auto container-md border bg-white">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">TIPO CITA</th>
                                    <th scope="col">FECHA REGISTRO</th>
                                    <th scope="col">FECHA CITA</th>
                                    <th scope="col">PACIENTE CC</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="fila in filas">
                                    <td>{{fila.id}}</td>
                                    <td>{{fila.tipoCita}}</td>
                                    <td>{{fila.fechaRegistro}}</td>
                                    <td>{{fila.fechaCita}}</td>
                                    <td>{{fila.pacienteCedula}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <!--<div  class="container-fluid">
                            <div class="mb-3" style="justify-content: center" style="display: flex" style="align-items: center">
                                
                                <button id="botonact" type="button" class="btn btn-success" ng-click="actualizarCita()">ACTUALIZAR</button>
                                <button id="botonel" type="button" class="btn btn-danger" ng-click="eliminarCita()">ELIMINAR</button>

                            </div>
                            <br>
                            <div id="actualizar" style="display: none" class="actualizar">
                                <h3>ESTO ESTABA OCULTO</h3>
                            </div>
                            <br>
                            <div id="eliminar" style="display: none">
                                <h3>ESTO NO ESTABA OCULTO</h3>
                            </div>
                        </div>-->
                        
                    </section>
                    
                </article>
                
                
            </article>
        </main>
        
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
        <script src="js/angular-bootstrap.js" type="text/javascript"></script>
        <script src="js/Citas.js"></script>
    </body>
</html>
