<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="citas">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous"/>
    </head>
    <body class="bg-light">
        <nav class="navbar navbar-light" style="background-color: #31b0d5;">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="index.html">Menú</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="ConsultarPaciente.html">Consultar Paciente</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        
        <main class="row m-2" ng-controller="controllerPaciente">
            <article class="col-sm">
                
                
                <section class="m-2 p-3 mx-auto container-md border bg-white">
                <div class="mb-3">
                    <h3>Registrar los datos del paciente.</h3>

                    <label for="cedula" class="form-label">Cedula</label>
                    <input type="text" class="form-control" id="cedula"  value="{{cedula}}" ng-model="cedula"/>

                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="nombre"  value="{{nombre}}" ng-model="nombre"/>

                    <label for="apellido" class="form-label">Apellido</label>
                    <input type="text" class="form-control" id="apellido"  value="{{apellido}}" ng-model="apellido"/>

                    <label for="edad" class="form-label">Edad</label>
                    <input type="text" class="form-control" id="edad"  value="{{edad}}" ng-model="edad"/>

                    <label for="telefono" class="form-label">Teleono</label>
                    <input type="text" class="form-control" id="telefono"  value="{{telefono}}" ng-model="telefono"/>

                    <label for="correo" class="form-label">Correo</label>
                    <input type="text" class="form-control" id="correo"  value="{{correo}}" ng-model="correo"/>

                    <label for="direccion" class="form-label">Direccion</label>
                    <input type="text" class="form-control" id="direccion"  value="{{direccion}}" ng-model="direccion"/>

                    <label for="usuario" class="form-label">Usuario</label>
                    <input type="text" class="form-control" id="usuario"  value="{{usuario}}" ng-model="usuario"/>

                    <label for="contrasenia" class="form-label">Contrasenia</label>
                    <input type="text" class="form-control" id="contrasenia"  value="{{contrasenia}}" ng-model="contrasenia"/>

                    <label for="tipoUsuario" class="form-label">Tipo Usuario</label>
                    <input type="text" class="form-control" id="tipoUsuario"  value="{{tipoUsuario}}" ng-model="tipoUsuario"/>


                    <br>
                    <button type="button" class="btn btn-success" ng-click="registrarPaciente()">Registrar</button>
                </div>
            </section>
                
            </article>
        </main>
        
        
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
        <script src="js/angular-bootstrap.js" type="text/javascript"></script>
        <script src="js/Paciente.js"></script>
    </body>
</html>
