<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="citas">
    <head>
        <title>Citas</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous"/>
    </head>
    
    <body style="background-color: #d9edf7">
        <nav class="bg-info">
            <nav class="navbar fixed-top navbar-expand-lg navbar-dark p-md-3">
                <div class="container">
                    <a href="#" class="navbar-brand text-black">REGISTRAR CITAS</a>
                    <button type="button" class="navbar-toggler" data-bs-target="#navbarNav" data-bs-toggle="collapse" aria-controls="navbarNav" aria-expanded="false" aria-lable="Toggle Navbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarNav">
                        <div class="mx-auto"></div>
                        <ul class="navbar-nav" >
                            <li class="nav-item">
                                <a href="#" class="nav-link  text-black">Menu principal</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link  text-black">Consultar cita</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </nav>
        <br><br><br>
        <main class="row m-1" ng-controller="controllerCitas">
            
            <section class="m-1 p-5 mx-auto container-md border bg-white">
                <div class="mb-2">
                    
                    <label for="id" class="form-label">ID</label>
                    <input type="text" class="form-control" id="id"  value="{{id}}" ng-model="id"/>
                    <br>
                    <label for="tipoCita" class="form-label">Tipo cita</label>
                    <input type="text" class="form-control" id="tipoCita"  value="{{tipoCita}}" ng-model="tipoCita"/>
                    <br>
                    <label for="fechaRegistro" class="form-label">Fecha registro</label>
                    <input type="text" class="form-control" id="fechaRegistro"  value="{{fechaRegistro}}" ng-model="fechaRegistro"/>
                    <br>
                    <label for="fechaCita" class="form-label">Fecha cita</label>
                    <input type="text" class="form-control" id="fechaCita"  value="{{fechaCita}}" ng-model="fechaCita"/>
                    <br>
                    <label for="cedulaPaciente" class="form-label">Cedula paciente</label>
                    <input type="text" class="form-control" id="cedulaPaciente"  value="{{cedulaPaciente}}" ng-model="cedulaPaciente"/>
                    <br>
                    
                    <button type="button" class="btn btn-success" ng-click="registrarCitas()">Registrar</button>
                </div>
            </section>
        </main>
        <!-- AGREGAR EL ENCABEZADO DEL MENÚ PARA TODAS LAS VISTAS Y ASÍ PODER NAVEGAR ENTRE TODAS ELLAS.
        
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark p-md-3">
            <div class="container">
                <a href="#" class="navbar-brand text-black">Consultorio</a>
                <button type="button" class="navbar-toggler" data-bs-target="#navbarNav" data-bs-toggle="collapse" aria-controls="navbarNav" aria-expanded="false" aria-lable="Toggle Navbar">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="mx-auto"></div>
                    <ul class="navbar-nav" >
                        <li class="nav-item">
                            <a href="#" class="nav-link  text-black">Registrar paciente</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link  text-black">Consultar paciente</a>
                        </li>
                        <li class="nav-item">
                            <a href="Citas.html" class="nav-link  text-black">Registrar cita</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link  text-black">Consultar cita</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link  text-black">Iniciar sesión</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>-->
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
        <script src="js/angular-bootstrap.js" type="text/javascript"></script>
        <script src="js/Citas.js"></script>
    </body>
</html>
