<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="citas">
    <head>
        <title>Consultorio online</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous"/>
    </head>
    <body class="bg-light">
        <header>
        </header>
        <main  class="row m-3" ng-controller="filasCitas">
            <article class="col-sm"> <!-- Angular js -->
                <section class="m-2 p-3 mx-auto container-md border bg-white">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Cedula Paciente</label>
                        <input type="pacienteCedula" class="form-control" id="exampleFormControlInput1"  value="" ng-model="pacienteCedula"/>
                        <br/>
                        <button type="button" class="btn btn-success" ng-click="consultarCitas()">Consultar cita</button>
                    </div>
                </section>
                
                <section class="m-2 p-3 mx-auto container-md border bg-white">
                    <div class="mb-3">
                        <h3>Registrar los datos del paciente.</h3>
                        
                        <label for="cedula" class="form-label">Cedula</label>
                        <input type="text" class="form-control" id="cedula"  value="{{cedula}}" ng-model="cedula"/>
                        
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre"  value="{{nombre}}" ng-model="nombre"/>
                        
                        <label for="apellido" class="form-label">Apellido</label>
                        <input type="text" class="form-control" id="apellido"  value="{{apellido}}" ng-model="apellido"/>
                        
                        <label for="edad" class="form-label">Edad</label>
                        <input type="text" class="form-control" id="edad"  value="{{edad}}" ng-model="edad"/>
                        
                        <label for="telefono" class="form-label">Teleono</label>
                        <input type="text" class="form-control" id="telefono"  value="{{telefono}}" ng-model="telefono"/>
                        
                        <label for="correo" class="form-label">Correo</label>
                        <input type="text" class="form-control" id="correo"  value="{{correo}}" ng-model="correo"/>
                        
                        <label for="direccion" class="form-label">Direccion</label>
                        <input type="text" class="form-control" id="direccion"  value="{{direccion}}" ng-model="direccion"/>
                        
                        <label for="usuario" class="form-label">Usuario</label>
                        <input type="text" class="form-control" id="usuario"  value="{{usuario}}" ng-model="usuario"/>
                        
                        <label for="contrasenia" class="form-label">Contrasenia</label>
                        <input type="text" class="form-control" id="contrasenia"  value="{{contrasenia}}" ng-model="contrasenia"/>
                        
                        <label for="tipoUsuario" class="form-label">Tipo Usuario</label>
                        <input type="text" class="form-control" id="tipoUsuario"  value="{{tipoUsuario}}" ng-model="tipoUsuario"/>
                        
                        
                        <br>
                        <button type="button" class="btn btn-success" ng-click="registroPaciente()">Actualizar</button>
                    </div>
                </section>
                
                
                <article class="col-sm"></article>
                <section class="m-2 p-3 mx-auto container-md border bg-white">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Tipo Cita</th>
                                <th scope="col">Fecha Registro</th>
                                <th scope="col">Fecha Cita</th> 
                                <th scope="col">Cedula Paciente</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="fila in filas">
                                <td>{{fila.id}}</td>
                                <td>{{fila.tipoCita}}</td>
                                <td>{{fila.fechaRegistro}}</td>
                                <td>{{fila.fechaCita}}</td>
                                <td>{{fila.pacienteCedula}}</td>
                            </tr>
                        </tbody>
                    </table>
                </section>
                </article>
        </main>
        <footer>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
        <script src="js/angular-bootstrap.js" type="text/javascript"></script>
        <script src="js/consultaCita.js"></script>
    </body>
</html>
